# Ignore dataset - too large for GitHub
data/

# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore any checkpoint files generated during training
checkpoints/
results/
