# Dataset
data/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# All model weights and checkpoints
*.ckpt
*.pt
*.joblib
*.npy

# Result folders
app_results/
experiment_results/
exported_model/
scratch_model/
results/
checkpoints/
portfolio_results/