# Dataset
data/

# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Large model checkpoint files
app_results/
experiment_results/
exported_model/
scratch_model/

# Anomalib results
results/

# Checkpoints
checkpoints/